body {
    background-color: #DFDCD0;
}


.container {
    margin-left: 25%;
    margin-right: 25%;
}

.header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: red;
}

.question {
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    color: blue;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.answer {
    display: flex;
    flex-wrap: wrap;
   padding-right: 10px;
   padding-left: 10px;
}
span{
    cursor: pointer;
}
.plus{
    visibility: hidden;
}
.minus{
    display: none;
}